In [1]:
import pandas as pd

In [2]:
departments=pd.read_csv('departments.csv')
dept_emp=pd.read_csv('dept_emp.csv')
dept_manager=pd.read_csv('dept_manager.csv')
employees=pd.read_csv('employees.csv')
salaries=pd.read_csv('salaries.csv')
titles=pd.read_csv('titles.csv')

In [3]:
departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dept_no    9 non-null      object
 1   dept_name  9 non-null      object
dtypes: object(2)
memory usage: 272.0+ bytes

In [4]:
dept_emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331603 entries, 0 to 331602
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   emp_no   331603 non-null  int64
 1   dept_no  331603 non-null  object
dtypes: int64(1), object(1)
memory usage: 5.1+ MB

In [5]:
dept_manager.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dept_no  24 non-null     object
 1   emp_no   24 non-null     int64
dtypes: int64(1), object(1)
memory usage: 512.0+ bytes

In [6]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   emp_no        300024 non-null  int64
 1   emp_title_id  300024 non-null  object
 2   birth_date    300024 non-null  object
 3   first_name    300024 non-null  object
 4   last_name     300024 non-null  object
 5   sex           300024 non-null  object
 6   hire_date     300024 non-null  object
dtypes: int64(1), object(6)
memory usage: 16.0+ MB

In [7]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   emp_no  300024 non-null  int64
 1   salary  300024 non-null  int64
dtypes: int64(2)
memory usage: 4.6 MB

In [8]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title_id  7 non-null      object
 1   title     7 non-null      object
dtypes: object(2)
memory usage: 240.0+ bytes

In [12]:
print('titles are unique',len(titles['title_id'].unique())==len(titles['title_id']))

titles are unique True

In [14]:
print('titles are unique',len(salaries['emp_no'].unique())==len(salaries['emp_no']))

titles are unique True

In [15]:
print('titles are unique',len(employees['emp_no'].unique())==len(employees['emp_no']))

titles are unique True

In [17]:
print('titles are unique',len(dept_manager['emp_no'].unique())==len(dept_manager['emp_no']))

titles are unique True

In [9]:
print('titles are unique',len(dept_emp['emp_no'].unique())==len(dept_emp['emp_no']))

titles are unique False

In [10]:
print('titles are unique',len(departments['dept_no'].unique())==len(departments['dept_no']))

titles are unique True